<user-header></user-header>
<section class="log">
  <div class="tele">
     <div>
       <img src="./assets/img/personal/personal.png" alt="">
     </div>
     <div>
       <input [(ngModel)]="username" required type="number" placeholder="电话号码" (keyup)="clean()">
     </div>
  </div>
  <div class="tele">
    <div>
      <img src="./assets/img/personal/personal.png" alt="">
    </div>
    <div>
      <input [(ngModel)]="displayname" required type="text" placeholder="昵称">
    </div>
  </div>
  <div class="tele">
    <div>
      <img src="./assets/img/personal/pass.png" alt="">
    </div>
    <div>
      <input [(ngModel)]="password" required  type="password" placeholder="请输入6-12位数字或字母密码">
    </div>
  </div>
  <div class="tele">
    <div>
      <img src="./assets/img/personal/pass.png" alt="">
    </div>
    <div>
      <input [(ngModel)]="cpassword" required type="password" placeholder="确认密码">
    </div>
  </div>
  <div class="sed">
     <div>
       <img src="./assets/img/personal/number.png" alt="">
     </div>
     <div>
        <input [(ngModel)]="smsVerifyCode" required type="number" placeholder="验证码">
     </div>
     <div>
        <send-phone [phone]="username" (confirm)="confirm($event)"></send-phone>
     </div>
  </div>
  <div class="exist" *ngIf="exist !== ''">
    <p>{{exist}}</p>
  </div>
  <button type="button" class="logbott" (click)="doSignup()">注册</button>
</section>
