<div class="login" [style.width.px]="winWidth" [style.height.px]="winHeight">
  <div class="title">
    <div class="back" (click)="back()">
      <img src="../../../assets/img/admin/close@2x.png" alt="">
    </div>
    <div class="dengLu">
      <p>登录</p>
    </div>
  </div>
  <div class="phone_account">
    <div *ngFor="let item of logWay" [class.bg_login]="selectWay === item" (click)="seleway(item)">
      <p>{{item}}</p>
    </div>
  </div>

  <div class="phone" *ngIf="selectWay === '手机验证'">
    <div class="item input_phone">
      <img src="../../../assets/img/admin/mobile@2x.png" alt="">
      <input type="number" placeholder="手机号" [(ngModel)]="Phone">
    </div>
    <div class="item input_yan">
      <img src="../../../assets/img/admin/yanzhengma@2x.png" alt="">
      <input type="text" placeholder="验证码" [(ngModel)]="yanzhengma">
      <phone-verification [phone]="Phone" (confirm)="confirm($event)" style="width: 60px"></phone-verification>
    </div>
    <div class="item login_button" (click)="phoneLogin(Phone, yanzhengma)">
      <p>登录</p>
    </div>
  </div>

  <div class="account" *ngIf="selectWay === '账号密码'">
    <div class="item input_phone">
      <img src="../../../assets/img/admin/mobile@2x.png" alt="">
      <input type="number" placeholder="用户名/手机号" [(ngModel)]="accoutPhone">
    </div>
    <div class="item input_yan">
      <img src="../../../assets/img/admin/yanzhengma@2x.png" alt="">
      <input type="password" placeholder="密码" [(ngModel)]="accoutPassword">
    </div>
    <div class="item login_button" (click)="accoutLogin(accoutPhone, accoutPassword)">
      <p>登录</p>
    </div>
  </div>

  <div class="register" routerLink="/admin/register">
    <p>新用户注册</p>
  </div>
</div>
<shared-prompt *ngIf="prompting" [prompting]="prompting"></shared-prompt>
