<header class="headamfi" [class.rig]="aaa">
  <a href="https://static.meiqia.com/dist/standalone.html?eid=57686&groupid=227cbe71d73dc0bc8d335d8f9d5acdc6"><img class="img_first" *ngIf="type === 'normal'" src="/assets/img/main/top_scan.png" alt=""></a>
  <img  class="back" *ngIf="type === 'back'" src="assets/img/product/search/return@3x.png"alt="" routerLink="/">
  <div class="img_centerLogo">
    <img src="/assets/img/main/logo@3x.png"  width="100%">
  </div>
  <img class="img_last" src="/assets/img/main/top_menu.png" (click)="toggleState()">
  <ul class="han-list" [style.height.px]="win_hei">
    <li>
      <img src="../../../../assets/img/admin/user@2x.png" alt="">
    </li>
    <li class="loginNo" *ngIf="!currentUser?.displayname || currentUser?.displayname == ''"><span routerLink="/admin/login">登录</span>/<span routerLink="/admin/login">注册</span></li>
    <li routerLink="/user/index" *ngIf="currentUser?.displayname && currentUser?.displayname != ''"><p>{{currentUser.displayname}}</p></li>
    <li routerLink="/user/server"><p>服务协议</p></li>
    <li routerLink="/user/server"><p><a href="https://static.meiqia.com/dist/standalone.html?eid=57686&groupid=227cbe71d73dc0bc8d335d8f9d5acdc6">联系客服</a></p></li>
    <li (click)="logout()" *ngIf="currentUser?.displayname && currentUser?.displayname != ''"><p>退出登录</p></li>
  </ul>
</header>
<div style="height: 35px;width: 100%"></div>
<div [style.width.px]="win_wid" [style.height.px]="win_hei-89" *ngIf="aaa" (click)="toggleState()" class="ms"></div>
<div class="mengban" *ngIf="haveMengban">
  <div  class="chooseSex" *ngIf="haveBarCode">
    <div class="quxiao" (click)="hideMengban()">
      <img src="../../../assets/img/main/close.png" height="40">
    </div>
    <div style="width: 100%;height: 100%;text-align: center">
      <img src="../../../assets/img/main/barCode.jpeg" width="250">
    </div>
  </div>
</div>
