@import "../../../../assets/scss/global";
.phone {
  text-align: center;
  height: c(80);
  position: absolute;
  right: 20px;
  top: 50%;
  @include transform(translateY(-50%));
  p {
    color: #e62129;
    font-size: c(32);
    line-height: c(80);
  }
}
