<!--<order-header [order]="order"></order-header>-->
<div class="order_top">
  <div (click)="back()">
    <img src="./assets/img/order-new/goto.png" alt="">
  </div>
  <div>
    <p>添加收货地址</p>
  </div>
</div>
<div style="width: 100%;height: 37px;"></div>
<section class="new" *ngIf="currentUser" [style.height.px]="win_he - 37">
  <form  #orderAddressForm="ngForm" (ngSubmit)="addAddressToUser()">
      <div class="res">
        <div>
          <p>省</p>
        </div>
        <div class="province">
          <select name="province" [(ngModel)]="currentUser.state" id="province">
            <option *ngFor="let pro of addresses" value="{{pro.name}}">{{pro.name}}</option>
          </select>
        </div>
      </div>
      <div class="res">
        <div>
          <p>市</p>
        </div>
        <!--<div class="province" *ngIf="cities.length>0">-->
        <div class="province">
          <select  name="city" [(ngModel)]="currentUser.city" id="city"><option *ngFor="let ci of cities" value="{{ci.name}}">{{ci.name}}</option></select>
        </div>
      </div>
      <input class="xx" type="text" id="street" placeholder="详细地址" required [(ngModel)]="currentUser.street" name="street" #street="ngModel">
      <input class="xx" type="text" id="displayname" placeholder="联系人" required [(ngModel)]="currentUser.displayname" name="displayname" #name="ngModel">
      <div class="my_phone">
        <div><input type="text" id="phone" placeholder="手机号码" required [(ngModel)]="currentUser.phone" name="phone" #phone="ngModel"></div>
        <div><send-phone [phone]="currentUser.phone"></send-phone></div>
      </div>
      <input type="text" name="smsVerifyCode" [(ngModel)]="currentUser.smsVerifyCode"  required class="xx" placeholder="请输入验证码">
      <p *ngIf="prompting" class="prom">{{prompting}}</p>
      <button *ngIf="smsSend" id="queren" type="submit">确认新地址</button>
  </form>
</section>
