<div class="main">
  <section class="promotion">
    <div class="promotion_top">
      <div style="position: absolute;top: 15px;z-index: 50;left: 15px;width: 20px">
        <img src="./assets/img/share/back_black.png" id="mall-promotion-back" style="width: 100%;" routerLink="/mall">
      </div>
      <p>促销产品</p>
      <div id="mall-promotion-more" class="more" routerLink="/product/promotion">更多</div>
    </div>
    <ul>
      <li *ngFor="let promotion of promotiones">
        <figure (touchstart)="gotoProductDetail(promotion.id)">
          <img src="http://m.forwoodsup.com/upload/product_list/{{promotion.code}}.png" class="" alt="">
          <figcaption class="">{{promotion.name}}</figcaption>
          <figcaption class="">￥{{promotion.label_price}}/m<sup>2</sup></figcaption>
        </figure>
      </li>
    </ul>
  </section>
  <div style="height: 10px;width:100%;background-color: #f3f3f3;margin-top: 10px" ></div>
  <section class="theme">
    <h3>主题推荐</h3>
    <ul *ngIf="articles">
      <li *ngFor="let article of articles" [routerLink]="['/article/theme', article.id]">
        <figure>
          <img src="./assets/img/mall/zhuti1.png" alt="">
          <figcaption>{{article.title}}</figcaption>
        </figure>
      </li>
    </ul>
  </section>
  <div style="height: 10px;width:100%;background-color: #f3f3f3;margin-top: 10px" ></div>
  <section class="picking">
    <div class="we_pick" routerLink="/mall/type">
      <p>我们为您挑选？</p>
    </div>
  </section>
</div>
