@import "../../../../assets/scss/global";
// 礼包
.gift_small{
  width: a(100px);
  height: a(100px);
  padding-top: a(10px);
  position: fixed;
  bottom: a(270px);
  right: 0;
  z-index: 3;
  background-color: #ffffff;
  text-align: center;
  img{
    width: a(50px);
    height: a(50px);
  }
  p{
    font-size: a(20px);
    line-height: a(40px);
  }
}
// 回顶部
.gift_backTop{
  width: a(100px);
  height: a(100px);
  padding-top: a(18px);
  position: fixed;
  bottom: a(170px);
  right: 0;
  z-index: 3;
  background-color: #ffffff;
  text-align: center;
  hr{
    position: relative;
    width: 70%;
    left: 15%;
    top: a(-16px);
    border-top:1px solid #d0d3d4;
  }
  img{
    width: a(45px);
    height: a(32px);
  }
  p{
    font-size: a(20px);
    line-height: a(50px);
  }
}
