<div class="hea">
  <img src="./assets/img/3d/exit1.png" alt="">
  <h6>设置</h6>
</div>
<div class="new" [style.height.px]="winHeight - 60">
  <div class="ress">
    <div>
      <p>用户名</p>
    </div>
    <div>
      <p>{{currentUser?.displayname}}</p>
    </div>
  </div>
  <div class="ress">
    <div>
      <p>电话号码</p>
    </div>
    <div>
      <p>{{currentUser?.phone}}</p>
    </div>
  </div>
  <!--<div class="ress" routerLink="/order/address">
    <div>
      <p>送货地址</p>
    </div>
    <div>
      <img src="./assets/img/shop/you.png" alt="">
    </div>
  </div>-->
  <div class="ress" routerLink="/about">
    <div>
      <p>关于我们</p>
    </div>
    <div>
      <img src="./assets/img/shop/you.png" alt="">
    </div>
  </div>
  <div class="ress" routerLink="/user/server">
    <div>
      <p>服务用款和隐私申明</p>
    </div>
    <div>
      <img src="./assets/img/shop/you.png" alt="">
    </div>
  </div>
  <a href="https://static.meiqia.com/dist/standalone.html?eid=57686&groupid=227cbe71d73dc0bc8d335d8f9d5acdc6">
    <div class="ress" >
      <div>
        <p>联系客服</p>
      </div>
      <div>
        <img src="./assets/img/shop/you.png" alt="">
      </div>
    </div>
  </a>
  <button id="signout" (click)="logout()">退出登录</button>
</div>
