@import "../../../../assets/scss/global";
.hea {
  position: relative;
  height: 60px;
  background-color: #ffffff;
  img {
    position: absolute;
    margin-top: 0.86667rem;
    margin-left: 0.4rem;
    width: 0.53333rem;
    height: 0.4rem;
  }
  h6 {
    font-size: 18px;
    text-align: center;
    padding-top: 0.8rem;
  }
}
.new {
  padding: 10px 15px 0;
  background-color: #f3f3f3;
  .ress {
    background-color: #fff;
    height: 50px;
    margin-bottom: 10px;
    @include flexBox;
    @include justify-content(space-between);
    p {
      font: 15px/50px '';
    }
    div:first-of-type{
      margin-left: 15px;
    }
    div:last-of-type{

      margin-right: 15px;
    }
    img {
      margin-top: 15px;
      width: 8px;
      height: 15px;
    }
  }
  button {
    width: 100%;
    height: 50px;
    font-size: 15px;
    background-color: #3e3831;
    color: #fff;
    border: none;
  }
}
