@import "../../../assets/scss/global";
.Prompt{
  position: fixed;
  top: 35px;
  z-index: 100;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  div{
    @include Center;
    text-align: center;
  }
  img{
    width: a(130px);
    height: a(130px);
  }
  p{
    margin-top: a(38px);
    color: #fff;
    font-size: a(36px);
  }
}
.transverse{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  & > img:first-of-type{
    position: absolute;
    top: 0;
    left: 50%;
    width: a(100px);
    height: a(30px);
    @include transform(translate(-50%,0));
  }
  .screening{
    position: absolute;
    right: 0;
    top: a(50px);
    width: a(125px);
  }
  .select_scene, .select_product{
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    height: a(35px);
    color: #fff;
    font-size: a(18px);
    line-height: a(35px);
    text-align: center;
    @include flexBox;
    div:first-of-type{
      width: a(30px);
      text-align: right;
    }
    div:last-of-type{
      @include flex(1);
      text-align: left;
    }
    img{
      width: a(13px);
      height: a(16px);
      margin-top: a(-3px);
      margin-right: a(3px);
    }
  }
  .scene_list{
    text-align: center;
    .scene_main{
       height: a(185px);
       overflow:hidden;
       ul{
         overflow:auto;
         height: a(185px);
         overflow-scrolling: touch;
         -webkit-overflow-scrolling: touch;
       }
    }
    li{
      width: a(125px);
      margin-bottom: a(5px);
      img{
        width: 100%;
        opacity: 0.8;
      }
    }
  }
  .select_product{
    margin-top: a(5px);
  }
  .product_list{
    text-align: center;
    margin-top: a(5px);
    ul{
      li{
        margin-bottom: a(5px);
      }
      img{
        width: a(125px);
      }
    }
  }
}
.button {
  width: 100%;
  text-align: center;
  background-color: #000;
  color: #fff;
  height: a(25px);
  opacity: 0.2;
  img {
    width: a(20px);
    height: a(10px);
    margin-top: a(7px);
  }
}
.main_floor_left{
  position: fixed;
  top: a(40px);
  left: 0;
  width: a(125px);
  .floor_type{
    @include flexBox;
    background-color: #000;
    opacity: 0.5;
    height: a(30px);
    color: #fff;
    margin-bottom: a(3px);
    div:first-of-type{
      width: a(35px);
      height: a(30px);
      text-align: right;
      margin-right: a(5px);
      img{
        margin-top: a(8px);
        width: a(16px);
        height: a(16px);
      }
    }
    h6{
      font-size: a(16px);
      line-height: a(30px);
    }
  }
}
.type_list{
  padding: 0 a(10px) 0 a(15px);
  background-color: #000;
  opacity: 0.3;
  & > div{
    width: 100%;
    border-bottom: 1px solid #fff;
    height: a(30px);
    @include flexBox;
    div:first-of-type{
      width: a(22px);
      text-align: center;
    }
    div:last-of-type{
      @include flex(1);
      p{
        color: #fff;
        font-size: a(14px);
        line-height: a(30px);
      }
    }
    img{
      margin-top: a(8px);
      width: a(12px);
      height: a(12px);
    }
    &:last-of-type{
      border-bottom: none;
    }
  }
}
.floor_color{
  height: 250px;
  overflow: hidden;
  ul{
    height: 250px;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
  }
  li{
    width: 100%;
    height: a(40px);
    margin-bottom: a(5px);
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.main_floor_right{
  width: a(125px);
  position: fixed;
  top: a(40px);
  right: 0;
  .back{
    height: a(35px);
    margin-bottom: a(6px);
    img{
      width: 100%;
    }
  }
  .type{
    height: a(35px);
    background-color: #000;
    opacity: 0.3;
    text-align: center;
    p{
      color: #fff;
      font-size: a(18px);
      line-height: a(35px);
    }
  }
}
.floor_list{
  height: a(185px);
  overflow: hidden;
  ul{
    height: a(185px);
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
  }
  li{
    width: 100%;
    height: a(80px);
    margin-bottom: a(5px);
    position: relative;
    img{
      width: 100%;
      height: 100%;
    }
    div{
      width: 100%;
      height: a(20px);
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      overflow: hidden;
      @include transform(translate(-50%,0));
    }
    p{
      font-size: a(16px);
      line-height: a(20px);
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp :1;
      -webkit-box-orient: vertical;
      height: a(20px);
    }
  }
}
.border_white{
  border: 1px solid #fff!important;
}
.font_color{
  color: #f49853!important;
}
