<collection-orders></collection-orders>
<nav>
  <ul>
    <li (click)="onartivle()"><p>产品</p></li>
    <li (click)="onproduct()"><p>文章</p></li>
  </ul>
</nav>
<div class="product" *ngIf="article==='artcl'">
  <ul>
    <li><img src="./assets/img/shop/you.png" alt=""></li>
    <li><img src="./assets/img/shop/you.png" alt=""></li>
    <li><img src="./assets/img/shop/you.png" alt=""></li>
    <li><img src="./assets/img/shop/you.png" alt=""></li>
  </ul>
</div>
<article class="colle" *ngIf="product==='prod'">
  <ul>
    <li>
      <div class="media">
        <div class="media-left artic">
          <img class="media-object" src="./assets/img/3d/product.png" alt="Generic placeholder image">
        </div>
        <div class="media-body articc">
          <h4 class="media-heading">冬日现代都市的节日色调</h4>
          <p>By louise Xia&nbsp;&nbsp;&nbsp; &nbsp;November 1st 2016</p>
        </div>
      </div>
    </li>
    <li>
      <div class="media">
        <div class="media-left artic">
          <img class="media-object" src="./assets/img/3d/product.png" alt="Generic placeholder image">
        </div>
        <div class="media-body articc">
          <h4 class="media-heading">冬日现代都市的节日色调</h4>
          <p>By louise Xia&nbsp;&nbsp;&nbsp; &nbsp;November 1st 2016</p>
        </div>
      </div>
    </li>
    <li>
      <div class="media">
        <div class="media-left artic">
          <img class="media-object" src="./assets/img/3d/product.png" alt="Generic placeholder image">
        </div>
        <div class="media-body articc">
          <h4 class="media-heading">冬日现代都市的节日色萨肯定会撒娇可怜的孩撒艰苦大会调</h4>
          <p>By louise Xia&nbsp;&nbsp;&nbsp; &nbsp;November 1st 2016</p>
        </div>
      </div>
    </li>
  </ul>
</article>
