@import "../../../../assets/scss/global";


.filter{
  position: relative;
  background-color: #fff;
  width: 77%;
  float: right;
  .more_filter{
    margin: 10px 0 10px 24px;
    padding: 4px 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 3px 3px 6px #D7D7D7;
    h3{
      font-size: 16px;
      display: inline-block;
    }
  }
  .filter_more{
    @include flexBox;
    @include justify-content(space-between);
    & > div{
      @include flexBox;
      width: 80px;
      height: 22px;
      background-color: #fff;
      border-radius: 4px;
      margin: 10px 0 0 15px;
      img{
        width: 6px;
        height: 10px;
        margin: 5px 5px 0 5px;
      }
      p{
        display: inline-block;
        font: 14px/22px '';
      }
    }
    .filter_list{
      margin-top: 11px;
      margin-right: 15px;
      li{
        margin-left: 10px;
        float: left;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #D7D7D7;
        p{
          font-size: 14px;
          padding: 2px 5px;
        }
      }
    }
  }
  .sort{
    width: 100%;
    @include flexBox;
    @include justify-content(space-between);
    background-color: #fff;
    padding: a(20px)  a(20px) a(10px) a(20px);
    position: fixed;
    z-index: 49;
    & > div:first-of-type{
      @include flexBox;
      margin-left: 10px;
      p{
        font: 14px/30px '';
      }
      div:last-of-type{
        width: 24px;
        img{
          margin-top: 10px;
          margin-left: 5px;
        }
      }
    }
  }
  .sort_support{
    height:a(60px);
  }
  .sort_list{
    height: a(50px);
    li{
      float: left;
      border: 1px solid #c2c2c2;
      border-radius: 4px;
      margin-right: a(70px);
    }
    .price_background{
      background-color:#f49853;
      border: 1px solid #fff;
      color:  #fff;
    }
    li:nth-last-of-type(1){
      margin-right: 0;
    }
    p{
      font-size: a(28px);
      padding: a(4px) a(10px);
    }
  }
  .product_list{
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding-top: a(10px);
    li{
      float: left;
      width: 50%;
      margin-bottom: a(30px);
    }
  }
  figure{
    text-align: center;
    position: relative;
    background-color: #fff;
    width: a(256px);
    margin: 0 auto;
    border-bottom: none;
    @include box-sizing(content-box);
    & > img:first-of-type{
      width: a(256px);
      height: a(291px);
    }
    & > img:nth-of-type(2){
      position: absolute;
      left: 0;
      width: 50%;
      top: 0;
    }
    .product-info{
      text-align: left;
      font-size: a(28px);
      padding: 0 a(7px) 0 a(13px);
      color: #f49853;
      height: a(50px);
      line-height: a(50px);
      img{
        float: right;
        height: a(50px);
      }
    }

    figcaption{
      width: a(256px);
      position: absolute;
      bottom: a(50px);
      p{
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        height: a(50px);
        font-size: a(27px);
        line-height: a(50px);
        background-color: rgba(0,0,0,0.2);
      }
    }
  }
}
.Allshow{
  width: 60px;
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 14px;
  text-decoration: underline;
}
@media (min-width: 320px) and (max-width: 375px) {
  .sort_list{

  }
}
header{
  height: 38px;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  top: 0;
  z-index: 50;
  right: 0;
  background-color: #fff;
  text-align: center;
  line-height: 38px;
  vertical-align: middle;
  border-bottom: 1px solid #d0d3d4;
  .back {
    float: left;
    margin: 7px 13px;
    height: 20px;
    width: 11px;
  }
  .search{
    position: absolute;
    top:11px;
    left:50%;
    width: 16px;
    height: 16px;
    margin-left: -30px ;
  }
  input{
    margin-top: 6px;
    padding-left: 25px;
    padding-right: 7px;
    width: a(646px);
    max-width: 288px;
    height: 25px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 13px;
    background-color: #f2f1f2;
    border: 1px solid #d0d3d4;
    text-align: center;
    outline:none;
    //&::-webkit-input-placeholder { /* WebKit browsers */
    //  color:    #fff;
    //}
    //&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    //  color:    #fff;
    //}
    //&::-moz-placeholder { /* Mozilla Firefox 19+ */
    //  color:    #fff;
    //
    //}
    //&:-ms-input-placeholder { /* Internet Explorer 10+ */
    //  color:    #fff;
    //}
  }
}

// 左侧边栏
.siderbar{
  width: 23%;
  height: a(1334px);
  overflow-y: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #d0d3d4;
  float: left;
  position: fixed;
  .siderbar-list-item{
    width: 100%;
    text-align: center;
    color: #555;
    .list-menu{
      height: a(70px);
      background-color: #f2f1f2;
      width: 100%;
      line-height: a(70px);
      font-size: a(32px);
      vertical-align: middle;
      margin-bottom: a(10px);
      img{
        margin-left: a(4px);
        width: a(20px);
      }
    }
    .list-item{
      font-size: a(24px);
      line-height: a(70px);
      position: relative;
      height: a(70px);
      border-bottom: 1px solid #d0d3d4;;
    }
    .list-item:nth-last-of-type(1){
      margin-bottom: a(10px);
    }
    .list-item-bd {
      height:0;
      overflow:hidden
    }
    .list-item-bd_show{
      height:auto
    }
    .page-active{
      font-size: a(28px);
      color: #f49853;
      position: relative;
    }
    .list-item-active:before{
      display: inline-block;
      height: a(28px);
      width: a(4px);
      background-color: #f49853;
      content: '';
      position: absolute;
      top: a(21px);
      left: 0;
    }
  }
}

.tips{
  text-align: center;
  font-size: a(28px);
  padding-top: a(40px);
}
