<header>
  <img src="assets/img/product/search/return@3x.png" class="back" alt="" routerLink="/">
  <input type="text" placeholder="搜索地板" (focus)="search()" (keyup)="searchPro($event)" (blur)="nosearch()" >
  <img [@flyInOut]="searching" src="assets/img/product/search/search@3x.png" class="search" alt="">
</header>
<div style="height: 35px;width: 100%"></div>
<div style="overflow: hidden;">
  <div class="siderbar">
      <div *ngFor="let item of list">
          <div class="siderbar-list-item">
            <div id="{{item.id}}" class="list-menu" (click)="kindToggle($event, list)">
              {{item.name}}
              <!--<img *ngIf="item.open" src="assets/img/product/search/zhankai@3x.png"/>-->
              <!--<img *ngIf="!item.open" src="assets/img/product/search/shouhui@3x.png"/>-->
            </div>
            <div ngClass="list-item-bd list-item-bd_show">
              <!--<div ngClass="list-item-bd {{item.open ? 'list-item-bd_show' : ''}}">-->
                <div *ngFor="let page of item.pages"  id="{{page.id}}" (click)="kindToggle($event, item.pages);filterPro(page)" ngClass="{{page.open ? 'list-item-active list-item ' : 'list-item ' }}" >
                    <span ngClass="{{page.open ? 'page-active' : '' }}">{{page.name}}</span>
                </div>
            </div>
          </div>
      </div>
  </div>
  <section class="filter">
    <div class="sort">
      <ul class="sort_list">
        <li *ngFor="let price of prices" (click)="filterProducts(scren.tone,scren.brand, scren.type,price)" [class.price_background]="price===priceBackground"><p id="Price_{{price.data}}">{{price.data}}</p></li>
      </ul>
    </div>
    <div class="sort_support"></div>
    <ul class="product_list">
      <li *ngFor="let seleproduct of seleproductes">
        <figure id="product_{{seleproduct.id}}">
          <img src="http://image.wecareroom.com/upload/product_t/256-8/{{seleproduct.code}}.png" alt="" (click)="gotoProductDetail($event,seleproduct)">
          <img src="../assets/img/product/jingpin.png" alt="" *ngIf="seleproduct.state == 'Hot'">
          <img src="../assets/img/product/new.png" alt="" *ngIf="seleproduct.state == 'New'" class="new">
          <figcaption (click)="gotoProductDetail($event,seleproduct)"><p>{{seleproduct.name}}</p></figcaption>
          <p  class="product-info">￥{{seleproduct.label_price}}/m²
                <img src="../assets/img/product/heart_not-click.png" alt="" (click)="like($event)">
          </p>
        </figure>
      </li>
    </ul>
    <p *ngIf="!seleproductes" class="tips" class="tips">
      殿下，网页正在加载中，请稍等
    </p>
    <p  *ngIf="seleproductes&&(seleproductes.length==0)" class="tips" >
      暂无相关产品，请重新筛选
    </p>
  </section>
</div>
