<section  [@flyInOut]="'in'" [style.height.px]="win_height - 89">
  <div class="slider">
     <div class="current">
        <p>当前选择</p>
        <ul>
           <li *ngIf="seleLists.tone" (click)="seleLists.tone = null;toneClass = null">{{seleLists?.tone}}<img src="../assets/img/product/sidebar_close.png" alt=""></li>
           <li *ngIf="seleLists.brand" (click)="seleLists.brand = null;brandClass = null">{{seleLists?.brand}}<img src="../assets/img/product/sidebar_close.png" alt=""></li>
           <li *ngIf="seleLists.type" (click)="seleLists.type = null;typeClass = null">{{seleLists?.type}}<img src="../assets/img/product/sidebar_close.png" alt=""></li>
        </ul>
     </div>
     <div class="title">
       <h3>色系</h3>
     </div>
     <ul>
       <li *ngFor="let toneq of tonees" (click)="seleTone(toneq)" [class.selected]="toneClass == toneq.name"><p id="product_{{toneq.name}}">{{toneq.name}}</p></li>
     </ul>
     <div class="title">
       <h3>品牌</h3>
     </div>
     <ul>
       <li *ngFor="let brandq of brandes" (click)="seleBrand(brandq)" [class.selected]="brandClass == brandq.name"><p id="product_{{brandq.name}}">{{brandq.name}}</p></li>
     </ul>
     <div class="title">
       <h3>类型</h3>
     </div>
     <ul>
       <li *ngFor="let typeq of typees" (click)="seleType(typeq)" [class.selected]="typeClass == typeq.name"><p id="product_{{typeq.name}}">{{typeq.name}}</p></li>
     </ul>
  </div>
  <div [style.width.px]="win_width - 160" class="sidebar_right" [style.height.px]="win_height - 89" *ngIf="!showRight">
    <div>
      <img src="../assets/img/product/sidebar_slide.png" alt="">
      <p>左滑动查看更多产品</p>
    </div>
  </div>
  <div [style.width.px]="win_width - 160" class="sidebar_right" [style.height.px]="win_height - 89" *ngIf="showRight" style="background-color:rgba(255,255,255,0.1)">
  </div>
</section>
