@import "../../../../assets/scss/global";
// 底部
.main_footer{
  width: 100%;
  background-color: #272727;
  div {
    margin: 0 auto;
    padding: a(60px) 0 a(20px) 0;
    text-align: center;
    span{
      display: inline-block;
      width: a(240px);
      height: a(60px);
      border:1px solid #fefefe;
      color: #fefefe;
      text-align: center;
      line-height: a(60px);
      font-size: a(28px);
    }
    span:nth-of-type(1){
      margin-right: a(-8px);
      border-right: none;
    }
    p {
      padding: 0;
      line-height: a(30px);
      font-size: a(22px);
      width: 100%;
      margin: a(20px) 0;
      text-align: center;
      box-sizing: border-box;
      color: #fefefe;
    }
    .footer_info{
      width: 100%;
      text-align: center;
      padding-top: a(30px);
      div {
        padding:0 0 a(20px) 0;
        img{
          width: a(50px);
          height: a(50px);
          margin: a(13px) 0;
        }
        p{
          padding: 0;
          margin: 0;
          height: a(30px);
          line-height: a(28px);
          text-align: center;
          color: white;
          border: none;
        }
      }
    }
  }
}
