<header-component></header-component>
<div class="main">
  <ol class="breadcrumb bg-white">
    <li><a routerLink="/mall/promotion">热销产品</a></li>
    <li class="active" *ngIf="article">{{article.title}}</li>
  </ol>
  <section class="content" *ngIf="article">
    <div [innerHTML]="article.content | sanitizeHtml"></div>
  </section>
  <div style="width: 100%;height: 10px;background-color: #e6e6e6;margin-top: 10px"></div>
  <section class="recommend">
    <h3>产品推荐</h3>
    <ul ImgHeight>
      <li *ngFor="let promotion of promotiones">
        <!--<figure [routerLink]="['/product', promotion.productSeries.id,{productId:promotion.id}]">-->
        <figure>
          <img src="http://m.forwoodsup.com/upload/product_list/{{promotion.code}}.png" alt="">
          <figcaption>{{promotion.name}}</figcaption>
        </figure>
      </li>
    </ul>
    <button type="button" class="bg-lan" routerLink="/product/promotion">更多产品</button>
  </section>
</div>
<footer-component [selectV]="selectV"></footer-component>
