<div class="super_container">
<!-- 轮播 -->
<div class="product-list">
  <div class="swiper-container" style="height: 160px; width: 100%" [style.width.px]="window_width"  [style.height.px]="window_width * 7/16">
    <div class="swiper-wrapper" >
      <!--<div class="swiper-slide" *ngFor="let banner of article_banneres" id="banner{{banner.id}}" routerLink="/article/{{banner.id}}">-->
      <div class="swiper-slide" *ngFor="let banner of article_banneres"  routerLink="{{banner.url}}">
      <img src="{{banner.titleImg}}" alt="" style="width: 100%; height: 100%">
      </div>
    </div>
  </div>
</div>
<!-- 推荐 -->
<div class="main_container">
  <div class="main_content">
    <ul>
      <li id="TopFlooring" (click)="goScenes($event)">
          <div class="top_mid">
            <img src="assets/img/mall/top_inter/vr.png" alt="">
            <div>
              <p>看场景</p>
              <span>VR场景搭配</span>
            </div>
          </div>
      </li>
      <li id="TopScene" (click)="goProducts($event)">
        <div class="top_mid">
          <img src="assets/img/mall/top_inter/flooring.png" alt="">
          <div>
            <p>看地板</p>
            <span>多款地板选购</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div></div>
  <h5>我们为您推荐</h5>
  <h6>这里有满足您的场景地板搭配</h6>

  <index-recommand [sceneID]="3"></index-recommand>
  <index-recommand [sceneID]="4"></index-recommand>
  <index-recommand [sceneID]="5"></index-recommand>
  <index-recommand [sceneID]="6"></index-recommand>
  <index-recommand [sceneID]="7"></index-recommand>
  <index-recommand [sceneID]="8"></index-recommand>
</div>

<!--&lt;!&ndash; 性别选择蒙版 &ndash;&gt;-->
<!--<div class="mengban" id="mengban" [style.width.px]="window_width" (click)="onEvent($event)" [style.height.px]="window_height" *ngIf="isFirst === 'true'">-->
<!--</div>-->
<!--&lt;!&ndash; 性别选择 &ndash;&gt;-->
<!--<div class="ask_content"  (scroll)="onEvent($event)" *ngIf="isFirst === 'true'">-->
  <!--<div class="quxiao" id="quxiao" (touchstart)="hideMengban()">-->
    <!--<img src="../../../assets/img/main/close.png" height="40">-->
  <!--</div>-->
  <!--<div class="chooseSex">-->
    <!--<img src="../../../assets/img/main/balloon.png" width="290">-->
    <!--<ul class="chooseSexUl">-->
      <!--<li class="chooseSexLi" (touchstart)="hideMengban()" id="main_man">-->
        <!--<img src="../../../assets/img/main/circle_not-click.png" width="17" id="main_man_img">-->
      <!--</li>-->
      <!--<li class="chooseSexLi" (touchstart)="isWoman($event)" id="main_woman">-->
        <!--<img src="../../../assets/img/main/circle_not-click.png" width="17" id="main_woman_img">-->
      <!--</li>-->
      <!--<li class="chooseSexLi" (touchstart)="hideMengban()" id="main_no">-->
        <!--<img src="../../../assets/img/main/circle_not-click.png" width="17" id="main_no_img">-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->

<!-- 优惠券领取 -->
<div *ngIf="showSmallTimer">
  <div class="gift_small" [hidden]="!showSmall" (click)="showGift()">
    <img src="assets/img/mall/gift/gift.png" >
    <p>9折礼</p>
  </div>
  <div class="gift_backTop" [hidden]="!showSmall" (click)="backTop()">
    <hr>
    <img src="assets/img/mall/gift/top.png" >
    <p>回顶部</p>
  </div>
  <div class="gift_big" [hidden]="showSmall">
    <img width="100%" src="assets/img/main/alert/pic.png"  (click)="getCoupon()">
    <img src="assets/img/main/alert/close.png" (click)="toggleGift()">
  </div>
</div>

<!-- 优惠券领取蒙版  -->
<div class="mengban2"   (scroll)="onEvent($event)" *ngIf="showMengban">
</div>

<!-- 底部组件 -->
<footer-component></footer-component>
</div>
