@import "../../../../assets/scss/global";
ul{
  width: 100%;
  li {
    margin-bottom: 15px;
    img{
      width: 100%;
    }
  }
  .summary{
    position: relative;
    img{
      width: 100%;
    }
    p{
      font-size: a(32px);
      padding: a(40px) a(150px);
      position: absolute;
      top: 0;
      line-height: a(36px);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp :3;
      -webkit-box-orient: vertical;
      height: a(148px);
    }
  }
}
