<header-component></header-component>
<div class="main blog">
  <div class="blog-content" *ngIf="article">
    <h3>"{{article.title}}"</h3>
    <div class="lin">
      <div [innerHTML]="article.content | sanitizeHtml"></div>
    </div>
  </div>
  <div class="article_product" *ngIf="article_product">
    <div>
      相关好物
      <img src="../assets/img/product/dow.png" alt="">
    </div>
    <ul>
      <li>
        <img src="http://m.wecareroom.com/upload/product_t/_SWP7397.png" alt="">
        <h5>蒂斯卡拉</h5>
        <p>￥456/m<sup>2</sup></p>
      </li>
      <li>
        <img src="http://m.wecareroom.com/upload/product_t/_SWP7397.png" alt="">
        <h5>蒂斯卡拉</h5>
        <p>￥456/m<sup>2</sup></p>
      </li>
      <li>
        <img src="http://m.wecareroom.com/upload/product_t/_SWP7397.png" alt="">
        <h5>蒂斯卡拉</h5>
        <p>￥456/m<sup>2</sup></p>
      </li>
      <li>
        <img src="http://m.wecareroom.com/upload/product_t/_SWP7397.png" alt="">
        <h5>蒂斯卡拉</h5>
        <p>￥456/m<sup>2</sup></p>
      </li>
      <li>
        <img src="http://m.wecareroom.com/upload/product_t/_SWP7397.png" alt="">
        <h5>蒂斯卡拉</h5>
        <p>￥456/m<sup>2</sup></p>
      </li>
      <li>
        <img src="http://m.wecareroom.com/upload/product_t/_SWP7397.png" alt="">
        <p>更多</p>
      </li>
    </ul>
  </div>
  <div class="article_recommend">
    <div>
      更多推荐
      <img src="../assets/img/product/dow.png" alt="">
    </div>
    <ul>
      <li *ngFor="let similar of similarArticles" id="article_recommend_{{similar.id}}">
        <div>
          <img src="{{similar.titleImg}}" alt="">
        </div>
        <div>
          <h6 (click)="bb(similar.id)">{{similar.title}}</h6>
          <p>{{similar.createTime}}</p>
        </div>
      </li>
    </ul>
  </div>
  <right-sidebar-component></right-sidebar-component>
</div>
<footer-component [selectV]="selectV"></footer-component>
