.qrcode { width: 100%; height: 6.26667rem; background-color: #f1f1f1; padding-top: 0.8rem; }
.qrcode .wap { background-color: #ffffff; height: 5.46667rem; text-align: center; }
.qrcode .wap img { margin-top: 0.66667rem; width: 2.4rem; height: 2.4rem; }
.qrcode .wap h5 { font-size: 14px; margin: 0.13333rem 0 0.26667rem; }

.blog-content { overflow: auto; }
.blog-content h3 { font-weight: bold; color: #eb9454; font-size: 18px; text-align: center; margin-top: 10px; line-height: 1.2; padding: 0 15px; }

.product { height: 170px; padding: 10px 0; background-color: #ebe9dc; }
.product .main { padding: 15px 0.4rem 0; background-color: #ffffff; }
.product .main h4 { padding-bottom: 10px; font-size: 18px; color: #353535; border-bottom: 1px solid #f1f1f1; }

.product_details { padding: 12px 0.4rem 0; background-color: #fff; height: 105px; }
.product_details ul { height: 80px; width: 100%; overflow: auto; }
.product_details ul li { float: left; width: 25%; text-align: center; }
.product_details .ifigure { margin: 0; }
.product_details .ifigure img { width: 50px; height: 50px; }
.product_details .ifigure figcaption { font-size: 12px; }

.article_similar .main { padding: 0.4rem 0.4rem 0; background-color: #ffffff; }
.article_similar .main h4 { padding-bottom: 0.26667rem; font-size: 18px; color: #353535; border-bottom: 1px solid #f1f1f1; }

.article_detail { margin-top: 0.53333rem; padding: 0 15px; }
.article_detail img { width: 70px; height: 70px; }
.article_detail h4 { font-size: 16px; font-weight: bold; color: #353535; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; height: 16px; }
.article_detail p { font-size: 12px; height: 58px; color: #888888; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; line-height: 1.2; -webkit-box-orient: vertical; }

.sideBar { position: fixed; bottom: 70px; right: 10px; }
.sideBar li { text-align: center; }
.sideBar li img { width: 30px; display: block; margin: 0 auto; }
.sideBar li a { color: #000; font-size: 14px; }
.sideBar li:first-child { padding-bottom: 5px; border-bottom: 1px solid #000; }
.sideBar li:last-child img { margin-top: 10px; }

.article_product, .article_recommend { margin-top: 20px; padding: 0 18px; }
.article_product > div:first-of-type, .article_recommend > div:first-of-type { font-size: 16px; margin-bottom: 10px; }
.article_product > div:first-of-type img, .article_recommend > div:first-of-type img { transform: rotate(90deg); -ms-transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); -o-transform: rotate(90deg); width: 12px; margin-top: -5px; }

.article_product ul { overflow: auto; width: 100%; }
.article_product li { float: left; width: 33.3%; padding: 0 10px; text-align: center; position: relative; margin-bottom: 10px; }
.article_product li h5 { font-size: 14px; position: absolute; bottom: 24px; color: #fff; left: 50%; width: 100%; transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); }
.article_product li p { font: 14px/20px ''; color: #f49853; }
.article_product li img { width: 100%; }
.article_product li:last-of-type p { left: 50%; position: absolute; top: 50%; color: #fff; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); }

.article_recommend li { display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; margin-bottom: 10px; }
.article_recommend li > div:first-of-type { width: 100px; height: 65px; margin-right: 10px; }
.article_recommend li > div:first-of-type img { width: 100%; height: 100%; }
.article_recommend li > div:last-of-type { flex: 1; -webkit-flex: 1; -ms-flex: 1; -moz-flex: 1; }
.article_recommend li > div:last-of-type h6 { font-size: 14px; height: 38px; line-height: 1.2; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-weight: bold; margin-bottom: 12px; color: #5c5c5c; }
.article_recommend li > div:last-of-type p { font-size: 12px; color: #c1c1c1; }

/*# sourceMappingURL=article.detail.component.css.map */
