
<div class="height">
  <div class="order_top">
    <div (click)="back()">
      <img src="./assets/img/order-new/goto.png" alt="">
    </div>
    <div>
      <p>订单</p>
    </div>
  </div>
  <div style="width: 100%;height: 37px"></div>
  <div class="shadow"></div>
  <div class="remind_img">
    <img src="./assets/img/order-new/process3.png" alt="">
  </div>
  <div class="remind_message">
    <p>3.确定订单并付款</p>
  </div>
</div>

<div class="combined" *ngIf="product && Order">
  <div>
    <div>
      <img src="http://m.wecareroom.com/upload/product_t/{{product.code}}.png" alt="">
    </div>
    <div>
      <p>合计: ￥{{allPrice}}</p>
      <p>订单号: <span>{{orderNumber}}</span></p>
    </div>
  </div>
</div>
<div class="pay_select">
  <div class="pay_main">
    <div>
      <div (click)="selePayWay()">
        <img src="./../assets/img/order-new/click.png" alt="" *ngIf="!fullPayment">
      </div>
      <div>
        <p>预付10% &nbsp;&nbsp;<span>如需预付请先联系客服</span></p>
      </div>
    </div>
    <div>
      <div (click)="selePayWay()">
        <img src="./../assets/img/order-new/click.png" alt="" *ngIf="fullPayment">
      </div>
      <div>
        <p>全款</p>
      </div>
    </div>
  </div>
</div>
<div class="preferential">
  <div *ngIf="promotionList">
    <div class="combination">
      <div>
        <div>
          <img src="./../assets/img/order-new/click.png" alt="">
        </div>
        <div>
          <h5>已使用最优组合</h5>
        </div>
      </div>
      <div class="combination_right" (click)="showPromotion()">
        <p>可用优惠券</p>
        <span>({{promotionListLength}})</span>
        <img src="./assets/img/order-new/goto.png" alt="">
      </div>
    </div>
    <div>
      <img src="http://m.wecareroom.com/upload/coupon/{{seleGood?.coupon.name}}.png" alt="" *ngIf="seleGood?.coupon">
    </div>
  </div>
  <div *ngIf="!promotionList" class="pick" (click)="getUserCoupon()">
    <p>领取优惠券</p>
  </div>
</div>
<div class="User_information" *ngIf="Order">
  <div>
    <p>实付款<span>已优惠￥{{originalPrice - actualPrice}}</span></p>
    <p>收货人</p>
    <p>联系方式</p>
    <p>收货地址</p>
  </div>
  <div>
    <p><span>￥{{originalPrice}}</span>￥{{actualPrice}}</p>
    <p>{{currentUser.displayname}}</p>
    <p>{{currentUser.phone}}</p>
    <p>{{currentUser.state}}{{currentUser.city}}{{currentUser.street}}</p>
  </div>
</div>
<div class="order_footer">
  <div>
    <a href="https://static.meiqia.com/dist/standalone.html?eid=57686&groupid=227cbe71d73dc0bc8d335d8f9d5acdc6">
      <p>联系客服</p>
    </a>
  </div>
  <div (click)="pay(orderNumber, product.name, product.code)">
    <p>确认支付</p>
  </div>
</div>
<div class="showPromotion" *ngIf="Promotion">
  <div>
    <div class="promotionTitle">
      <p>可用优惠券</p>
      <img src="./assets/img/order-new/close.png" alt="" (click)="showPromotion()">
    </div>
    <div class="promotionList">
      <ul *ngIf="promotionList.length > 0">
        <li *ngFor="let promotion of promotionList" (click)="seleCoupon(promotion)">
          <img src="http://m.wecareroom.com/upload/coupon/{{promotion.coupon.name}}.png" alt="">
        </li>
      </ul>
    </div>
    <div class="determine" (click)="showPromotion()">
      <p>确定</p>
    </div>
  </div>
</div>
<div *ngIf="alifrom">
  <ali-pay [alifrom]="alifrom"></ali-pay>
</div>
