@import "../../../../assets/scss/global";

.floor_type{
  text-align: center;
  h3{
    font: 24px/78px '';
  }
  ul{
    overflow: auto;
  }
  li{
    float: left;
    width: 50%;
    position: relative;
    text-align: center;
    margin-bottom: 18px;
    img{
      width: a(260px);
      height: a(260px);
    }
    p{
      font-size: 16px;
      color: #fff;
      position: absolute;
      left: 50%;
      top:50%;
      @include transform(translate(-50%,-50%));
    }
  }
}
@media (max-width: 375px) {
  .floor_type h3{
    font: 18px/74px '';
  }
}
