.process{
  border-bottom: 1px solid #75787b;
  padding: 0 15px;
  h3{
    font: 18px/36px '';
    text-align: center;
  }
  li >p:first-child{
    color: #eb9454;
  }
  p{
    font: 12px/24px '';
  }
  img{
    width: 12px;
    margin-left:10px;
  }
  .oo{
    p{
      font: 12px/20px '';
    }
  }
}
