<div class="height">
  <div class="order_top">
    <div>
      <p>订单</p>
    </div>
  </div>
  <div style="width: 100%;height: 37px"></div>
  <div class="shadow"></div>
  <div class="remind_img">
    <img src="./assets/img/order-new/process4.png" alt="">
  </div>
</div>

<div class="order_success" [style.height.px]="winHeight - xx">
  <img src="./assets/img/order-new/success.png" alt="">
  <h5>支付成功</h5>
  <p>感谢您对我们品牌的信任</p>
  <div (click)="gotoOrderDetail()">
    <p>查看详情</p>
  </div>
  <div routerLink="/">
    <p>返回首页</p>
  </div>
</div>
