@import "../../../../assets/scss/global";
.height{
  overflow: auto;
}
.order_top{
  @include flexBox;
  position: fixed;
  width: 100%;
  height: 37px;
  background-color: #fff;
  z-index: 50;
  img{
    margin: 11px 0 0 18px;
    width: 8px;
    height: 15px;
  }
  p{
    @include Center;
    font: 18px/37px '';
    color: #545454;
  }
}
.shadow{
  width: 100%;
  height: a(6px);
  background-color: #eeeeee;
}
.remind_img{
  width: 100%;
  padding: a(30px) a(50px);
  background-color: #eee;
  img{
    width: 100%;
  }
}
.remind_message{
  margin: a(30px) 0 a(20px) a(36px);
  p{
    font-size: a(32px);
    color: #545454;
  }
}

.order_footer{
  position: fixed;
  @include flexBox;
  height: 49px;
  width: 100%;
  bottom: 0;
  left: 0;
  div:first-of-type{
    text-align: center;
    background-color: #f49853;
    width: 50%;
  }
  p{
    color: #fff;
    font: 18px/49px '';
  }
  div:last-of-type{
    text-align: center;
    width: 50%;
    background-color: #dd2727;
  }
}

.order_success{
  text-align: center;
  background-color: #eee;
  img{
    width: a(144px);
    height: a(144px);
    margin: a(50px) 0 a(40px);
  }
  h5{
    font-size: a(36px);
    color: #545454;
    margin-bottom: a(20px);
  }
  & > p{
    font-size: a(28px);
    color: #a1a1a1;
    margin-bottom: a(60px);
  }
  div{
    width: a(600px);
    height: a(74px);
    border-radius: a(37px);
    text-align: center;
    margin: 0 auto;
    p{
      font-size: a(36px);
      color: #fff;
      line-height: a(74px);
    }
  }
  div:first-of-type{
    background-color: #f49853;
    margin-bottom: a(30px);
  }
  div:last-of-type{
    background-color: #898989;
  }
}
