@import "../../../../assets/scss/global";
nav {
  height: 50px;
  width: 100%;
  @include flexBox;
  div{
    width: 20%;
    p{
      font: 16px/50px '';
      text-align: center;
    }
  }
}
.seleStatus{
  border-bottom: 1px solid #000;
}
.unpaid {
  width: 100%;
  padding: 8px 15px;
  background-color: #f3f3f3;
  .ul {
    background-color: #fff;
    .li {
      width: 100%;
      padding: 13px 10px;
      overflow: auto;
    }
  }
  .li > p {
    &:first-child {
      font-size: 15px;
      display: inline-block;
      margin-bottom: 7px;
    }
    &:nth-child(2) {
      float: right;
      font-size: 15px;
      display: inline-block;
      color: #eb9454;
    }
  }
}

.order_details {
  width: 100%;
  background-color: #f8f8f8;
  height: 112px;
  position: relative;
  padding-top: 14px;
  img {
    width: 68px;
    height: 68px;
  }
}

.order_title {
  position: absolute;
  top: 15px;
  left: 82px;
  font-size: 15px;
}

.total_price {
  position: absolute;
  left: 82px;
  top: 70px;
  font-size: 15px;
}

.order_details {
  p:last-child {
    font-size: 15px;
    text-align: right;
  }
  > p:last-child span {
    color: #eb9454;
  }
}

.unpaid hr {
  margin-top: 17px;
  border-top: 1px solid #e2e2e2;
  padding: 0;
  margin-bottom: 0;
}

.pay {
  float: right;
  margin-top: 10px;
  button {
    width: 88px;
    height: 24px;
    border-radius: 7px;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    background-color: #fff;
    &:first-child {
      margin-right: 18px;
    }
    &:last-child {
      margin-right: 10px;
    }
  }
}
