<div class="activity_promotion" *ngIf="exhibition;else loaded">
  <img src="./assets/img/activity/001.png" alt="" id="cyber1">
  <div class="apply_top">
      <div>
         <img src="./assets/img/activity/2_01.jpg" alt="">
      </div>
      <div>
         <img src="./assets/img/activity/2_02.jpg" alt="" (click)="goTogo()" id="cyber1-2">
      </div>
      <div>
         <img src="./assets/img/activity/2_03.jpg" alt="">
      </div>
  </div>
  <div class="apply_phone">
    <div>
    </div>
    <div>
      <input type="text" placeholder="请输入您的手机号"
             maxlength="11" required #other>
      <button type="submit" (click)="onSubmit(other.value)" id="apply">立即报名</button>
    </div>
    <div>
    </div>
  </div>
  <img src="./assets/img/activity/003_01.jpg" alt="">
  <div class="recommend">
    <div>
      <a href="https://m.tugou.com/tuan/changsha/groupon/product-21787.html">
        <img src="./assets/img/activity/003_02.jpg" alt="" id="togo_deng">
      </a>
    </div>
    <div>
      <a href="https://m.tugou.com/tuan/changsha/groupon/product-21786.html">
        <img src="./assets/img/activity/003_03.jpg" alt="" id="togo_hu">
      </a>
    </div>
  </div>
  <img src="./assets/img/activity/004.png" alt="" id="cyber4" (click)="openPrompt()">
  <img src="./assets/img/activity/005.png" alt="" id="cyber5">
  <img src="./assets/img/activity/006.png" alt="" id="cyber6">
  <img src="./assets/img/activity/007.png" alt="" id="cyber7">
  <img src="./assets/img/activity/008.png" alt="" id="cyber8" (click)="gotoApply()">
  <img src="./assets/img/activity/009.png" alt="" (click)="showExhibition()" id="cyber9">
</div>
<ng-template #loaded>
  <div class="activity_promotion">
    <img src="./assets/img/activity/huichangditu.png" alt="" (click)="showExhibition()" id="cyber10">
  </div>
</ng-template>
<only-keFu></only-keFu>
<div class="Confirm" *ngIf="Confirm">
  <div>
    <p>
      恭喜您抢票成功！您的专属家居管家15分钟内将联系您，告知活动优惠等相关事宜。
    </p>
    <p (click)="closeConfirm()">关闭</p>
  </div>
</div>
<div class="prompt" *ngIf="prompt">
  <p>请输入正确的手机号</p>
</div>
<div class="company_details" *ngIf="promptPhone">
  <div>
    <p>恭喜你要装修了！</p>
    <p> 请联系我们获取<strong>产品信息</strong>和<strong>优惠详情</strong>！</p>
    <div>
      <p>打我们的座机:<a href="tel://0731-85594580">0731-85594580</a></p>
      <p>微信号:18374811617</p>
      <!--<p>邮箱：service@wecareroom.com</p>-->
      <p>或直接点击右下角咨询<strong><a href="https://static.meiqia.com/dist/standalone.html?eid=57686&groupid=227cbe71d73dc0bc8d335d8f9d5acdc6">在线客服</a></strong></p>
    </div>
    <p>&nbsp;</p>
    <p>本页面所有产品经湖南省圣保罗木业有限公司授权</p>
    <p>均可在圣保罗官网查询到</p>
    <h4 (click)="closePrompt()">关闭</h4>
  </div>
</div>
<div (click)="getCoupon()">
  <p style="font-size: 40px">
    获取订单code
  </p>
</div>
