<header-component></header-component>
<div class="main">
  <div *ngIf="myObjects.length > 0">
    <carousel [myObjects]="myObjects"></carousel>
  </div>
  <ul class="se_type">
    <li *ngFor="let ArticleType of ArticleTypes" (click)="seleType(ArticleType)">
      <div>
        <img *ngIf="SeleArticle !== ArticleType" src="{{ArticleType.show1}}" alt="">
        <img *ngIf="SeleArticle === ArticleType" src="{{ArticleType.show2}}" alt="" >
      </div>
      <p [style.color]="SeleArticle === ArticleType ? '#eb9454' : '#000'">{{ArticleType.name}}</p>
    </li>
  </ul>
  <article class="homealy">
    <ul>
      <a class="w-inline-block">
        <li *ngFor="let article of articles; let i = index" routerLink="/article/{{article.id}}">
          <img *ngIf="i===0" style="height:4rem" src="{{article.titleImg}}" alt="" [style.height.px]="window_width*0.618">
          <img *ngIf="i!=0" src="{{article.titleImg}}" alt="" [style.height.px]="window_width*0.618">
          <div class="boo">
            <h5>{{article.title}}</h5>
            <p>{{article.summary}}</p>
          </div>
        </li>
      </a>
    </ul>
  </article>
</div>
<footer-component [selectV]="selectV"></footer-component>

