<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">	<link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <base href="/">
  <title>云深间造 - 为您带来完美的木制家具选购体验</title>
  <meta name="description" content="云深间造科技 - 为您带来完美的木制家具选购体验">
  <meta name="keywords" content="云深间造,woodsup,云深间造woodsup,木地板,木门,VR木地板,VR木门,VR家装,VR家居,VR家具,VR购物">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="robots" content="all">
  <link rel="icon" href="assets/img/1.ico" type="image/x-icon">
  <link rel="shortcut icon" href="assets/img/1.ico" type="image/x-icon">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="styles.css" />
</head>
<body>
	<my-app>
		Loading...
	</my-app>
  <!--设置html的字体大小-->
  <script src="assets/lib/font-size.js"></script>
  <!-- angular不支持现代浏览器的所有特性。这些脚本实现了浏览器缺失的 JavaScript 特性 勿删-->
  <script src="assets/lib/shim.min.js"></script>
  <script src="assets/lib/polyfill.min.js"></script>
  <!--微信登录-->
  <script src="assets/lib/jweixin-1.0.0.js"></script>
  <div id="str-dlls">
    <%= '<' %>script src="/polyfill.dll.js"<%= '>' %><%= '<' %>/script<%= '>' %>
    <%= '<' %>script src="/vendor.dll.js"<%= '>' %><%= '<' %>/script<%= '>' %>
  </div>
	<script src="/index.js"></script>
</body>
</html>
