<div class="app_register" [style.width.px]="winWidth" [style.height.px]="winHeight">
  <div class="title">
    <div class="back" (click)="back()">
      <img src="../../../assets/img/admin/close@2x.png" alt="">
    </div>
    <div class="dengLu">
      <p>注册</p>
    </div>
  </div>
  <div class="register_logo">
    <img src="../../../../assets/img/admin/new-image@2x.png" alt="">
  </div>
  <div class="item_register">
    <img src="../../../../assets/img/admin/account@2x.png" alt="">
    <input type="text" [(ngModel)]="username" placeholder="用户名">
  </div>
  <div class="item_register">
    <img src="../../../../assets/img/admin/password@2x.png" alt="">
    <input type="password" [(ngModel)]="password" placeholder="密码">
  </div>
  <div class="item_register">
    <img src="../../../../assets/img/admin/password@2x.png" alt="">
    <input type="password" [(ngModel)]="cpassword" placeholder="确认密码">
  </div>
  <div class="item_register">
    <img src="../../../../assets/img/admin/mobile@2x.png" alt="">
    <input type="number" [(ngModel)]="Phone" placeholder="手机号">
  </div>
  <div class="item_register">
    <img src="../../../../assets/img/admin/yanzhengma@2x.png" alt="">
    <input type="text" [(ngModel)]="smsVerifyCode" placeholder="验证码">
    <phone-verification [phone]="Phone" (confirm)="confirm($event)" style="width: 60px"></phone-verification>
  </div>
  <div class="item_register doRegister" (click)="doRegister(username, Phone, password, smsVerifyCode)">
    <p>注册</p>
  </div>
</div>
<shared-prompt *ngIf="prompting" [prompting]="prompting"></shared-prompt>
