@import "../../../../assets/scss/global";

.app_register{
  background: url("/assets/img/admin/bg@2x.png") no-repeat 100%;
  background-size: 100% 100%;
  .title{
    width: 100%;
    height: c(88);
    @include flexBox;
    position: relative;
    .back{
      width: c(36*3);
      height: c(88);
      text-align: center;
    }
    img{
      margin-top: c(52/2);
      width: c(36);
      height: c(36);
    }
    .dengLu{
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
      p{
        line-height: c(88);
        font-size: c(36);
        color: #fff;
      }
    }
  }
  .register_logo{
    text-align: center;
    margin: c(60) 0 c(62);
    img{
      width: c(160);
      height: c(160);
    }
  }
}
.item_register{
  width: c(600);
  margin: c(30) auto;
  height: c(80);
  border-radius: c(40);
  @include flexBox;
  background-color: #fff;
  position: relative;
  img{
    width: c(27);
    height: c(27);
    margin-top: c((80-27)/2);
    margin-left: c(40);
    margin-right: c(14);
  }
  input{
    border: none;
    font-size: c(32);
  }
}
.doRegister{
  margin-top: c(60);
  background-color: #f49863;
  @include justify-content(center);
  p{
    font-size: c(40);
    line-height: c(80);
    color: #fff;
  }
}
