<div class="height">
  <div class="order_top">
    <div (click)="back()" id="bakc_order_one">
      <img src="./assets/img/order-new/goto.png" alt="">
    </div>
    <div>
      <p>订单</p>
    </div>
  </div>
  <div style="width: 100%;height: 37px"></div>
  <div class="shadow"></div>
  <div class="remind_img">
    <img src="./assets/img/order-new/process1.png" alt="">
  </div>
  <div class="remind_message">
    <p>1.确定您须购买的数量</p>
  </div>
  <div class="order_footer">
    <div>
      <a href="https://static.meiqia.com/dist/standalone.html?eid=57686&groupid=227cbe71d73dc0bc8d335d8f9d5acdc6">
        <p>联系客服</p>
      </a>
    </div>
    <div (click)="nextStep1()" id="next_one">
      <p>下一步</p>
    </div>
  </div>
</div>
<div class="order_one" *ngIf="product">
  <div class="order_main">
    <div>
      <img src="http://m.wecareroom.com/upload/product_t/YB1.png" alt="">
    </div>
    <div>
      <div>
        <div><p>{{product.name}}</p></div>
        <div style="text-align: right;">
          <p>{{product.label_price}}.00/m²</p>
        </div>
      </div>
      <div class="total_prices">
        <div class="input_box">
          <div (click)="reduceQuantity()">-</div>
          <div>
            <input type="number" [(ngModel)]="quantity" (keyup)="calculate()" id="set_price">
          </div>
          <div (click)="addQuantity()">+</div>
        </div>
        <div class="combined">
          <p>合计</p>
          <p *ngIf="totalPrice">￥{{totalPrice}}.00</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="order_prompt">
  <div>
    <img src="./../assets/img/order-new/prompt.png" alt="">
  </div>
  <div>
    <img src="./../assets/img/order-new/problem.png" alt="">
  </div>
</div>
