<div class="height">
  <div class="order_top">
    <div (click)="back()">
      <img src="./assets/img/order-new/goto.png" alt="">
    </div>
    <div>
      <p>订单</p>
    </div>
  </div>
  <div style="width: 100%;height: 37px"></div>
  <div class="shadow"></div>
  <div class="remind_img">
    <img src="./assets/img/order-new/process2.png" alt="">
  </div>
  <div class="remind_message">
    <p>2.确定您的收货地址</p>
  </div>
  <div class="order_footer">
    <div>
      <a href="https://static.meiqia.com/dist/standalone.html?eid=57686&groupid=227cbe71d73dc0bc8d335d8f9d5acdc6">
        <p>联系客服</p>
      </a>
    </div>
    <div (click)="nextStep2()" id="next_two">
      <p>下一步</p>
    </div>
  </div>
</div>

<div class="harvest" *ngIf="currentUser">
  <div class="user" (click)="gotoOrder()">
    <div>
      <div class="userName">
        <p>收货人:{{currentUser.displayname}}</p>
      </div>
      <div class="userPhone">
        <p>{{currentUser.phone}}</p>
      </div>
    </div>
    <div class="user_address">
      <div>
        <p>收获地址:</p>
      </div>
      <div>
        <p>{{currentUser.state}}{{currentUser.city}}{{currentUser.street}}</p>
      </div>
    </div>
    <img src="./../assets/img/order-new/choose.png" alt="">
  </div>
</div>
<div class="add_address">
  <div (click)="gotoOrder()" id="add_address">
    <p>+ &nbsp;添加地址</p>
  </div>
</div>
<div class="add_prompt">
  <div>
    <p><img src="./../assets/img/order-new/tip.png" alt=""> &nbsp;温馨提示</p>
  </div>
  <div>
    <p>全国150个城市可包邮到家，具体咨询客服</p>
  </div>
</div>
<shared-prompt [prompting]="prompting"></shared-prompt>
